// Sizes container

$mx-width-container: 1300px;

// Typography
$primary-font: "Poppins", sans-serif;
$secundary-font: "Montserrat";
  

// Colors

$black:#403C39;
$orange: #F38160;
$grey: #949494;
$grey2:#909090;
